@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open-sans-v15-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('../fonts/open-sans-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v15-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/open-sans-v15-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
       url('../fonts/open-sans-v15-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v15-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v15-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v15-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v15-latin-300.svg#OpenSans') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/open-sans-v15-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
       url('../fonts/open-sans-v15-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v15-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v15-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v15-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v15-latin-700.svg#OpenSans') format('svg'); /* Legacy iOS */
}

* {
    box-sizing: border-box;
    font-weight: 300;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #ECEFF1;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
}

kbd {
  padding: 2px 4px;
  margin: 0;
  border-radius: 3px;
  background-color: #333333;
  color: #ffffff;
  text-transform: lowercase;
  font-size: 0.9em;
}

h1, h2, h3 {
  margin: 20px 0 10px 0;
  font-weight: 300;
}

h4, h5, h6 {
  margin: 10px 0 10px 0;
  font-weight: 300;
}

p {
  margin: 0 0 10px;
  font-weight: 300;
}


/* COMMON */
.hidden {
  display: none !important;
}

.center {
  text-align: center;
}

.flex-stretch {
    align-self: stretch;
}

.icon {
    width: 20px;
    height: 20px;
    stroke-width: 1;
}
.icon-small {
    width: 16px;
    height: 16px;
}
.icon-large {
    width: 32px;
    height: 32px;
}
.icon-extra-large {
    width: 64px;
    height: 64px;
}

.icon-black {
    fill: #000000;
    stroke-width: 0;
}
.icon-white {
    fill: #ffffff;
    stroke-width: 0;
}
.icon-red {
    fill: #ff0000;
    stroke-width: 0;
}
.icon-green {
    fill: #00ff00;
    stroke-width: 0;
}
.icon-blue {
    fill: #0000ff;
    stroke-width: 0;
}
.icon-yellow {
    fill: #ffff00;
    stroke-width: 0;
}

.icon-coffee {
    background-size: contain;
    background-image: url('../img/coffee.svg');
}

.icon-image {
    background-size: contain;
    background-image: url('../img/image.svg');
}




/* CONTENT */
.welcome {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.guide {
  width: 100%;
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
}



/* DRAWING AREA */
.drawing-area {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}



/* TOOLBAR */
.toolbar {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #34495E;
    box-shadow: 0 1px 2px rgba(52, 73, 94, 0.5);
    padding: 0 12px;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tools {
    height: 40px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.options {
    height: 40px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu {
    height: 40px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transition: all 0.3s;
}

.menu > * {
    margin-left: 4px;
}


#menu-toggle {
    display: none;
}

#menu-toggle .icon {
    transform: rotate(0deg);
    transition: all 0.3s;
}

#menu-toggle.active .icon,
#menu-toggle:active .icon {
    transform: rotate(90deg);
}


.picker-button .icon {
    display: none;
}
.picker-button.active .icon {
    display: inline;
    margin-right: 5px;
}


#textSizeOption .dropdown-toggle input,
#sizeOption .dropdown-toggle input,
#zoomOption .dropdown-toggle input {
    width: 40px;
    padding-right: 2px;
    text-align: right;
}

#zoomSlider {
    appearance: slider-vertical;
    -moz-appearance: slider-vertical;
    -webkit-appearance: slider-vertical;
    width: 50px;
}


@media (max-width: 768px) {
    .options {
        justify-content: flex-end;
    }

    .menu {
        flex: 1 1 100%;
    }

    .menu:not([data-open]) {
        height: 0px;
    }
    .menu:not([data-open]) > * {
        display: none;
    }

    #menu-toggle {
        display: flex;
    }
}



/* CANVASES */
.canvases {
    flex: 1;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    background-image: url('../img/bg.png');
}

.canvases canvas {
    position: absolute;
}
