.icon {
	width: 20px;
	height: 20px;
	fill: none;
	stroke: currentColor;
	stroke-width: 1;
	stroke-linecap: round;
	stroke-linejoin: round;

	&--small {
		width: 16px;
		height: 16px;
	}

	&--large {
		width: 32px;
		height: 32px;
	}

	&--huge {
		width: 64px;
		height: 64px;
	}
}
