.desk {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: flex-start;
	width: 100vw;
	height: 100vh;
}

/* LOADING */
.loading:after {
	content: " .";
	animation: dots 1s steps(5, end) infinite;
}

@keyframes dots {
	0%,
	20% {
		color: rgba(110, 110, 110, 0);
		text-shadow: .25em 0 0 rgba(110, 110, 110, 0), .5em 0 0 rgba(110, 110, 110, 0);
	}

	40% {
		color: #6e6e6e;
		text-shadow: .25em 0 0 rgba(110, 110, 110, 0), .5em 0 0 rgba(110, 110, 110, 0);
	}

	60% {
		text-shadow: .25em 0 0 #6e6e6e, .5em 0 0 rgba(110, 110, 110, 0);
	}

	80%,
	100% {
		text-shadow: .25em 0 0 #6e6e6e, .5em 0 0 #6e6e6e;
	}
}

/* TOOLBAR */
.toolbar {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: space-between;
	padding: 0 12px;
	background-color: #34495e;
	box-shadow: 0 1px 2px rgba(52, 73, 94, .5);
	user-select: none;
}

.tools {
	display: flex;
	flex: 1;
	justify-content: flex-start;
	order: 1;
	height: 40px;
}

.options {
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: center;
	order: 2;
	height: 40px;
}

#menu-toggle {
	display: none;
	order: 3;
}

#menu-toggle .icon {
	transition: all .3s;
	transform: rotate(0deg);
}

#menu-toggle.active .icon,
#menu-toggle:active .icon {
	transform: rotate(90deg);
}

.menu {
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: flex-end;
	order: 4;
	height: 40px;
}

.menu > * {
	margin-left: 4px;
}

.picker-button .icon {
	display: none;
}

.picker-button.active .icon {
	display: inline;
	margin-right: 5px;
}

@media (max-width: 768px) {
	.options {
		justify-content: flex-end;
	}

	.menu {
		flex: 1 1 100%;
		transition: height .3s;
	}

	.menu:not([data-open]) {
		height: 0;
	}

	.menu:not([data-open]) > * {
		display: none;
	}

	#menu-toggle {
		display: flex;
	}
}

@media (max-width: 576px) {
	.tools {
		justify-content: center;
	}

	.options {
		flex-basis: 100%;
		justify-content: center;
	}

	#menu-toggle {
		order: 1;
	}
}

/* COMMON */
.hidden {
	display: none !important;
}

.center {
	text-align: center;
}

.flex-stretch {
	align-self: stretch;
}

.icon ~ *,
span ~ * {
	margin-left: 6px;
}
