.desk {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: flex-start;
	width: 100vw;
	height: 100vh;
}

.dropdown {
	position: relative;
	display: flex;
	align-items: stretch;
	justify-content: center;
}

.dropdown-toggle .round-180 {
	transition: transform .3s;
}

.dropdown hr {
  border-right-width: 0;
  border-left-width: 0;
  border-bottom-width: 0;
  border-top: 1px solid var(--secondary-dark-color);
  width: 80%;
}

.dropdown-toggle input {
	padding-right: 2px;
	width: 40px;
	text-align: right;
}

.dropdown[data-open] .dropdown-toggle .round-180 {
	transform: rotate(180deg);
}

.dropdown-menu {
	position: absolute;
	top: calc(100% + 5px);
	z-index: 1000;
	display: none;
	flex-direction: column;
	align-items: stretch;
	padding: 5px;
	width: max-content;
	border-radius: 4px;
	background-color: #fff;
	box-shadow: 0 1px 2px rgba(52, 73, 94, .5);
}

.dropdown-menu--left {
	left: 0;
}

.dropdown-menu--right {
	right: 0;
}

.dropdown[data-open] .dropdown-menu {
	display: flex;
  min-width: 100%;
}

.dropdown-menu > * {
	margin-bottom: 5px;
}

.dropdown-menu > *:last-child {
	margin-bottom: 0;
}

.dropdown-group {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	justify-content: space-around;
}

.dropdown-dark .dropdown-menu {
	padding: 5px 0;
	background-color: #34495e;
	color: #fff;
}

.dropdown-flat .dropdown-menu {
	top: 100%;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.dropdown-flat .dropdown-menu > * {
	margin-bottom: 0;
}

/* LOADING */
.loading:after {
	content: " .";
	animation: dots 1s steps(5, end) infinite;
}

@keyframes dots {
	0%,
	20% {
		color: rgba(110, 110, 110, 0);
		text-shadow: .25em 0 0 rgba(110, 110, 110, 0), .5em 0 0 rgba(110, 110, 110, 0);
	}

	40% {
		color: #6e6e6e;
		text-shadow: .25em 0 0 rgba(110, 110, 110, 0), .5em 0 0 rgba(110, 110, 110, 0);
	}

	60% {
		text-shadow: .25em 0 0 #6e6e6e, .5em 0 0 rgba(110, 110, 110, 0);
	}

	80%,
	100% {
		text-shadow: .25em 0 0 #6e6e6e, .5em 0 0 #6e6e6e;
	}
}

/* TOOLBAR */
.toolbar {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: space-between;
	padding: 0 12px;
	background-color: #34495e;
	box-shadow: 0 1px 2px rgba(52, 73, 94, .5);
	user-select: none;
}

.tools {
	display: flex;
	flex: 1;
	justify-content: flex-start;
	order: 1;
	height: 40px;
}

.options {
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: center;
	order: 2;
	height: 40px;
}

#menu-toggle {
	display: none;
	order: 3;
}

#menu-toggle .icon {
	transition: all .3s;
	transform: rotate(0deg);
}

#menu-toggle.active .icon,
#menu-toggle:active .icon {
	transform: rotate(90deg);
}

.menu {
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: flex-end;
	order: 4;
	height: 40px;
}

.menu > * {
	margin-left: 4px;
}

.picker-button .icon {
	display: none;
}

.picker-button.active .icon {
	display: inline;
	margin-right: 5px;
}

@media (max-width: 768px) {
	.options {
		justify-content: flex-end;
	}

	.menu {
		flex: 1 1 100%;
		transition: height .3s;
	}

	.menu:not([data-open]) {
		height: 0;
	}

	.menu:not([data-open]) > * {
		display: none;
	}

	#menu-toggle {
		display: flex;
	}
}

@media (max-width: 576px) {
	.tools {
		justify-content: center;
	}

	.options {
		flex-basis: 100%;
		justify-content: center;
	}

	#menu-toggle {
		order: 1;
	}
}

/* COMMON */
.hidden {
	display: none !important;
}

.center {
	text-align: center;
}

.flex-stretch {
	align-self: stretch;
}

.light {
	display: inline-block;
	width: 4px;
	height: 4px;
	border: 0;
	border-radius: 50%;
	background-color: #323232;
	box-shadow: inset 0 1px 0 rgba(250, 250, 250, .3);
}

.light-red {
	background-color: #e20000;
	box-shadow: 0 0 4px 1px #f00, inset 0 1px rgba(250, 250, 250, .5);
}

.light-yellow {
	background-color: #e2e200;
	box-shadow: 0 0 4px 1px #ff0, inset 0 1px rgba(250, 250, 250, .5);
}

.light-green {
	background-color: #32e200;
	box-shadow: 0 0 4px 1px #38ff00, inset 0 1px rgba(250, 250, 250, .5);
}

.lighting {
	animation-duration: .7s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.light-red.lighting {
	animation-name: lighting-red;
}

.light-yellow.lighting {
	animation-name: lighting-yellow;
}

.light-green.lighting {
	animation-name: lighting-green;
}

@keyframes lighting-red {
	from {
		background-color: #e20000;
		box-shadow: 0 0 6px 1px #f00, inset 0 1px rgba(250, 250, 250, .5);
	}

	to {
		background-color: #323232;
		box-shadow: inset 0 1px 0 rgba(250, 250, 250, .3);
	}
}

@keyframes lighting-yellow {
	from {
		background-color: #e2e200;
		box-shadow: 0 0 6px 1px #ff0, inset 0 1px rgba(250, 250, 250, .5);
	}

	to {
		background-color: #323232;
		box-shadow: inset 0 1px 0 rgba(250, 250, 250, .3);
	}
}

@keyframes lighting-green {
	from {
		background-color: #32e200;
		box-shadow: 0 0 6px 1px #38ff00, inset 0 1px rgba(250, 250, 250, .5);
	}

	to {
		background-color: #323232;
		box-shadow: inset 0 1px 0 rgba(250, 250, 250, .3);
	}
}

.icon ~ *,
span ~ * {
	margin-left: 6px;
}
