/* MODALS */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: none;
    align-items: center;
    justify-content: center;

    background-color: rgba(136, 136, 136, 0.8);

    overflow-x: hidden;
    overflow-y: auto;
}

.modal[data-open] {
    display: flex;
}

.modal-content {
    width: 100%;
    display: flex;
    flex-direction: column;

    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(93, 93, 93, 1);
}

@media (min-width: 768px) {
    .modal-content {
        width: 650px;
    }
}

@media (min-width: 992px) {
    .model-content {
        width: 880px;
    }
}

@media (min-width: 1200px ) {
    .model-content {
        width: 1100px;
    }
}

.modal-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #7e7e7e;
}

.modal-header h1,
.modal-header h2,
.modal-header h3 {
    margin: 0;
}

.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 10px 20px;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 20px;
    border-top: 1px solid #7e7e7e;
}
.modal-footer > * {
    margin-left: 5px;
}



/* DROPDOWNS */
.dropdown {
    position: relative;
    display: flex;
    align-items: stretch;
    justify-content: center;
}

.dropdown-toggle .round-180 {
    transition: transform 0.3s;
}

.dropdown[data-open] .dropdown-toggle .round-180 {
    transform: rotate(180deg);
}

.dropdown-menu {
    width: max-content;
    position: absolute;
    top: calc(100% + 5px);

    display: none;
    flex-direction: column;
    align-items: stretch;
    z-index: 1000;

    padding: 5px;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(52, 73, 94, 0.5);
}

.dropdown-menu--left {
    left: 0;
}

.dropdown-menu--right {
    right: 0;
}

.dropdown[data-open] .dropdown-menu {
    display: flex;
}

.dropdown-menu > * {
    margin-bottom: 5px;
}

.dropdown-menu > *:last-child {
    margin-bottom: 0;
}

.dropdown-group {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
}

.dropdown-dark .dropdown-menu {
    background-color: #34495E;
    color: #ffffff;
    padding: 5px 0;
}

.dropdown-flat .dropdown-menu {
    top: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.dropdown-flat .dropdown-menu > * {
    margin-bottom: 0;
}



/* BUTTONS */
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.45em 0.75em;
    background-color: #00b89c;
    color: #ffffff;
    border: none;
    border-radius: 9998px;
    outline: 0;
    cursor: pointer;
    font-size: 0.8em;
    text-align: center;
}

.btn:focus {
    background-color: #00c4a7;
    transition: all 0.3s;
}

.btn:hover {
    background-color: #00c4a7;
    transition: all 0.3s;
}

.btn.active,
.btn:active {
    background-color: #00b89c;
    transition: all 0.3s;
}


.btn-light {
    background-color: transparent;
    color: #12212f;
}

.btn-light:focus,
.btn-light:hover {
    background-color: #f9f9f9;
    transition: all 0.2s;
}

.btn-light:active,
.btn-light.active {
    background-color: #f2f2f2;
    transition: all 0.2s;
}


.btn-dark {
    background-color: #34495E;
}

.btn-dark:focus,
.btn-dark:hover {
    background-color: #12212f;
    transition: all 0.2s;
}

.btn-dark:active,
.btn-dark.active {
    color: #12212f;
    background-color: #00b89c;
    transition: all 0.2s;
}


.btn-flat {
    border: none;
    border-radius: 0;
    box-shadow: none;
}


.btn input {
    background: none;
    color: inherit;
    border: 0;
    outline: 0;
}


/* SCREEN BLOCK */
.screen-block {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
    background-color: rgba(255,255,255,0.9);
    color: #6e6e6e;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.screen-block[data-open] {
    display: flex;
}

.screen-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}

.with-border .screen-content {
    border: 4px dashed #e0e0e0;
}

.screen-message {
    margin-top: -100px;
    font-size: 2.2em;
}


/* LOADING */
.loading:after {
    content: ' .';
    animation: dots 1s steps(5, end) infinite;
}

@keyframes dots {
    0%, 20% {
        color: rgba(110, 110, 110, 0);
        text-shadow:
            .25em 0 0 rgba(110, 110, 110, 0),
            .5em 0 0 rgba(110, 110, 110, 0);
    }
    40% {
        color: #6e6e6e;
        text-shadow:
          .25em 0 0 rgba(110, 110, 110, 0),
          .5em 0 0 rgba(110, 110, 110, 0);
    }
    60% {
        text-shadow:
           .25em 0 0 #6e6e6e,
           .5em 0 0 rgba(110, 110, 110, 0);
    }
    80%, 100% {
        text-shadow:
            .25em 0 0 #6e6e6e,
            .5em 0 0 #6e6e6e;
    }
}
