:root {
  --base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #eceff1;
  font-family: var(--base-font-family);
  font-weight: 300;
  font-size: 16px;
}

kbd {
  padding: 2px 4px;
  margin: 0;
  border-radius: 3px;
  background-color: #333333;
  color: #ffffff;
  text-transform: lowercase;
  font-size: 0.9em;
}

h1,
h2,
h3 {
  margin: 20px 0 10px 0;
  font-weight: 300;
}

h4,
h5,
h6 {
  margin: 10px 0 10px 0;
  font-weight: 300;
}

p {
  margin: 0 0 10px;
  font-weight: 300;
}
